
<style>
.video-wrapper {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
}
.video-wrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}
.description {
    text-align: justify;
    text-justify: inter-word;
}
</style>

<body>
    <div class="description">

        <h2>Increasing number of gravitational wave events</h2>
        <div class="video-wrapper">
            <iframe src="/SymbolicGWPopulation_paper/public/video/GW_population.mp4" allowfullscreen></iframe>
        </div>
        In the first LIGO observational run in 2015, there were 3 gravitational wave (GW) detections in 3 months.
        In the second obserational run from November 2016 to August 2017, there were 8 detections in 9 months.
        Then in the third observational run that started in 2019 and lasted for a year, there were 56 evented detected.



        <h2>Phenomenological modelling of the GW population</h2>
        <div class="video-wrapper">
            <iframe src="/SymbolicGWPopulation_paper/public/video/PhenomenologicalModelling.mp4" allowfullscreen></iframe>
        </div>
        To analyze the population of GWs, the community often fit phenomenological models to the data,
        such as using a power law or power law plus a Gaussian to model the primary mass distribution.
        The problem is writing down a sensible phenomenological model depends on individual's intuition,
        and ther are more difficult to construct when the data becomes incresingly complex.

        <h2>Flexible model?</h2>
        <div class="video-wrapper">
            <iframe src="/SymbolicGWPopulation_paper/public/video/FitMassFunction.mp4" allowfullscreen ></iframe>
        </div>
        To solve the problem with phenomenological models, the community start looking into more flexible models,
        such as Gaussian mixture models and neural network based models.
        They are great at fitting the data, however, their flexibility makes them hard to interpret.
        In a power law model, one can understand the implication of the spectral index.
        For a neural network, it is much more difficult to determine the meaning of a particular weight in the model.

        <h2>Symbolic regression primer</h2>
        <div class="video-wrapper">
            <iframe src="/SymbolicGWPopulation_paper/public/video/SRMain.mp4" allowfullscreen></iframe>
        </div>
        Symbolic regression (SR) is a machine learning technique which searches to space of analytic expressions to fit a dataset.
        An equation can be treated as a tree of operators (e.g. addition, sine), constants and variables.
        Then we can randomly mutate the tree to obtain different experessions and keep the ones that fit the data well.
        This is often done with a genetic algorithm, which allow cross-breeding and improve the search efficiency.

        <h2>Interpreting flexible models</h2>
        <div class="video-wrapper">
            <iframe src="/SymbolicGWPopulation_paper/public/video/FittingGWwithSR.mp4" allowfullscreen></iframe>
        </div>
        In this work, we use symbolic regression to distill more interpertable expressions from a Gaussian mixture model fitted to the GW primary mass distribution.
        As we increase the complexity of the equation (i.e. number of nodes in the tree.), the fitting accuracy will improve with the cost of interpretibility.
        We show three eqautions with increasing complexity in the animation.
        The first equation fits for the excess of event around 10 solar mass with a Gaussian and the rest of the mass distribution with an expoential function.
        This desrcibe the bulk of the distribution, but unfortunate cannot accomdate the excess of events around 30 solar mass.
        Once we allow for higher complexity, SR add another Gaussian around 30 solar mass, which is what the state-of-the-art phenomenological model suggests.
        If we allow for even higher complexity, SR tries to taper the expoential function to fit the tail of the distribution.

    </div>
</body>