
<style>
.video-wrapper {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
}
.video-wrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}
</style>

<body>
    <div>

        <h2>There are more and more gravitational wave events</h2>
        Body text
        <div class="video-wrapper">
            <iframe src="/SymbolicGWPopulation_paper/public/video/GW_population.mp4" allowfullscreen></iframe>
        </div>

        <h2>Phenomenological modelling of the GW population</h2>
        Body text
        <div class="video-wrapper">
            <iframe src="/SymbolicGWPopulation_paper/public/video/PhenomenologicalModelling.mp4" allowfullscreen></iframe>
        </div>

        <h2>Flexible model?</h2>
        Body text
        <div class="video-wrapper">
            <iframe src="/SymbolicGWPopulation_paper/public/video/FitMassFunction.mp4" allowfullscreen></iframe>
        </div>

        <h2>Symbolic regression primer</h2>
        Body text
        <div class="video-wrapper">
            <iframe src="/SymbolicGWPopulation_paper/public/video/SRMain.mp4" allowfullscreen></iframe>
        </div>

        <h2>Interpreting flexible models</h2>
        <h4>Body text</h4>
        <div class="video-wrapper">
            <iframe src="/SymbolicGWPopulation_paper/public/video/FittingGWwithSR.mp4" allowfullscreen></iframe>
        </div>
    </div>
</body>